---
import "../../styles/index.scss";

import { getCodeLang } from "@global-shared/translations/utils/getCodeLang";
import { getEntry, type CollectionKey } from "astro:content";
import Favicons from "./head/Favicons.astro";
import Metas from "./head/Metas.astro";
import GoogleTagManager from "@/features/cookie-consent/GoogleTagManager.astro";
import CookieConsentHead from "@/features/cookie-consent/CookieConsentHead.astro";
import MarkupSchema from "./head/MarkupSchema.astro";
import Footer from "./footer/Footer.astro";
import Header from "./header/Header.astro";
import ContactPopup from "@/features/getting-leads/ui/ContactForm/ContactPopup.astro";
import type { Data, SharedContext } from "@/common/astro";
import type { LandingPage } from "@/common/types";
import Navbar from "@/contexts/Shop/modules/components/shared/Navbar.astro";

type Props = {
  _id: string;
  collection: CollectionKey;
};

const { _id, collection = "HomeBlog" } = Astro.props;

const { data } = (await getEntry(collection, _id)) as Data<LandingPage>;

const { language, ref, theme } = data;

const c_black = "#000000";
const c_white = "#ffffff";
const { backgroundColor = c_white, textColor = c_black } = theme || {};

const context: SharedContext = {
  id: _id,
  collection,
  language,
  ref,
};
---

<html lang={getCodeLang(language)}>
  <head>
    <!-- <CookieConsentHead /> -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <Favicons />
    <Metas {...context} />
    <MarkupSchema _id={_id} collection={collection} />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body
    class={`layout l-${collection}`}
    text-color={textColor}
    background-color={backgroundColor}
  >
    <!-- <GoogleTagManager /> -->
    <!-- <Header language={language} /> -->
     <Navbar />
    <slot />
    <Footer {...context} />
  </body>
</html>

<script>
  const body = document.querySelector("body") as HTMLBodyElement;
  const backgroundColor = body.getAttribute("background-color");
  const textColor = body.getAttribute("text-color");
  body.style.setProperty("--c-background-color", backgroundColor);
  body.style.setProperty("--c-text-color", textColor);
</script>
