---
interface Props {
  totalPages: number;
}

const { totalPages } = Astro.props;

const url = Astro.url;
const pageParam = Number(url.searchParams.get("page") ?? 1);

const currentPage = Math.max(
  pageParam > totalPages ? totalPages : pageParam,
  1
);

const validatedBackPage = Math.max(currentPage - 1, 1);
const validatedNextPage = Math.min(currentPage + 1, totalPages);

const path = url.pathname;
---

<div class="pagination-container">
  <a href={`${path}?page=${validatedBackPage}`} class="button"> Anteriores </a>

  <span data-totalPages={totalPages}>Página {currentPage} de {totalPages}</span>

  <a href={`${path}?page=${validatedNextPage}`} class="button"> Siguientes </a>
</div>

<style>
  /* Estilos tradicionales sin Tailwind */
  .pagination-container {
    display: flex;
    justify-content: space-between;
    margin-top: 8rem; /* 32px */
    margin-bottom: 8rem; /* 32px */
  }

  .button {
    padding: 0.5rem 1rem; /* 2px de padding, equivalente a p-2 */
    background-color: #3b82f6; /* bg-blue-500 */
    color: white;
    border-radius: 0.375rem; /* rounded */
    text-decoration: none;
    font-weight: 600;
  }

  .button:hover {
    background-color: #2563eb; /* bg-blue-600 */
  }
</style>

<script>
  const spanElement = document.querySelector(
    "[data-totalPages]"
  ) as HTMLSpanElement;
  const url = new URL(window.location.href);

  const pageParam = Number(url.searchParams.get("page") ?? 1);
  const totalPages = Number(spanElement?.dataset.totalpages);

  const currentPage = Math.max(
    pageParam > totalPages ? totalPages : pageParam,
    1
  );
  const validatedBackPage = Math.max(currentPage - 1, 1);
  const validatedNextPage = Math.min(currentPage + 1, totalPages);

  if (pageParam !== currentPage && pageParam < 1) {
    url.searchParams.set("page", validatedBackPage.toString());
    window.location.href = url.href;
  }

  if (pageParam !== currentPage && pageParam > totalPages) {
    url.searchParams.set("page", validatedNextPage.toString());
    window.location.href = url.href;
  }
</script>
