---
import ImageOptimized from "@/common/modules/ImageOptimized.astro";
import { getFirstPhoto } from "@/common/sanity/getOptimizedImage";
import { getOptimizedImage } from "@/common/sanity/getOptimizedImage";
import type { Media } from "@/common/types";
import type { AuthorEntry } from "@/contexts/Blog/infraestructure/sanity-author-blog-collection";
import { cv_svg } from "./ui-elements";

type Props = AuthorEntry;

const { _id, name, author, image, bio, job, theme, keywords, cv } =
  Astro.props as Props;

const imagenParse = image as Media;

const authorImage = getFirstPhoto([imagenParse]);

const textNeon = theme?.textColor || "#e9ff47";

const serializedCv = cv as unknown as {
  url: string;
};
---

<section class="hero-author" style={`--c-text-neon: ${textNeon};`}>
  <div class="hero-author__container">
    <div class="hero-author__content">
      <h1 class="hero-author__title">
        <span class="hero-author__title-main">{name}</span>
        <span class="hero-author__title-highlight">{job}</span>
      </h1>
      <p class="hero-author__description">
        {bio}
      </p>

      <div class="hero-author__badges">
        {
          keywords?.map((keyword) => (
            <div class="badge">
              <span>•</span> {keyword}
            </div>
          )) || null
        }
        {
          serializedCv && (
            <a
              href={serializedCv.url}
              class="hero-author__cv"
              target="_blank"
              rel="noopener noreferrer"
            >
              <span set:html={cv_svg} />
              {author}
              {job} CV
            </a>
          )
        }
      </div>
    </div>
    <div class="hero-author__image">
      <div class="hero-author__image-wrapper">
        <ImageOptimized
          photo={authorImage.photo}
          alt="Designer portrait"
          class="hero-author__portrait"
        />
      </div>
    </div>
  </div>

  <script></script>
</section>
