---
const list = [
  { id: 1, name: "John", age: 25 },
  { id: 2, name: "Jane", age: 24 },
  { id: 3, name: "Paul", age: 30 },
  { id: 4, name: "Doe", age: 28 },
  { id: 5, name: "Mark", age: 33 },
  { id: 6, name: "Jill", age: 22 },
  { id: 7, name: "Jack", age: 27 },
  { id: 8, name: "Jen", age: 26 },
  { id: 9, name: "Jude", age: 29 },
  { id: 10, name: "Julia", age: 31 },
  { id: 11, name: "Jasper", age: 32 },
  { id: 12, name: "Jenny", age: 23 },
  { id: 13, name: "Jude", age: 29 },
  { id: 14, name: "Julia", age: 31 },
  { id: 15, name: "Jasper", age: 32 },
  { id: 16, name: "Jenny", age: 23 },
  { id: 17, name: "Jude", age: 29 },
  { id: 18, name: "Julia", age: 31 },
  { id: 19, name: "Jasper", age: 32 },
  { id: 20, name: "Jenny", age: 23 },
  { id: 21, name: "Jude", age: 29 },
  { id: 22, name: "Julia", age: 31 },
  { id: 23, name: "Jasper", age: 32 },
  { id: 24, name: "Jenny", age: 23 },
  { id: 25, name: "Jude", age: 29 },
  { id: 26, name: "Julia", age: 31 },
  { id: 27, name: "Jasper", age: 32 },
  { id: 28, name: "Jenny", age: 23 },
];
---

<section class={`o-carousel-brands`}>
  <div class={`c-carousel-brands carousel-brands`}>
    <p class="carousel-brands__title">Marcas UpCars</p>
    <div class="carousel-brands__content">
      <div class="carousel-brands__list" data-brand-list>
        {
          list.map((make) => (
            <img class="carousel-brands__img" alt={make.name} />
          ))
        }
        <!-- {
          list.map((make) => (
            <img
              class="carousel-brands__img"
              src={make.image}
              height={make.sizes.height}
              width={make.sizes.width}
              alt={make.name}
            />
          ))
        } -->
      </div>
    </div>
  </div>
</section>

<script>
  const brandList = document.querySelectorAll(
    "[data-brand-list]"
  )[0] as HTMLDivElement;
  const next = () => {
    const firstBrand = brandList.children[0] as HTMLImageElement;
    const secondBrand = brandList.children[1] as HTMLImageElement;
    brandList.style.transition = `3000ms linear all`;
    const nextBrand = secondBrand.offsetLeft;
    brandList.style.transform = `translateX(-${nextBrand}px)`;

    const transition = () => {
      brandList.style.transition = "none";
      brandList.style.transform = `translateX(0)`;
      brandList.appendChild(firstBrand);
      brandList.removeEventListener("transitionend", transition);
    };
    brandList.addEventListener("transitionend", transition);
  };
  setInterval(next, 0);
</script>
